# String Based Assignment Problem

In [1]:
# Write a program to reverse a string.
s="Abhishek Ojha"
print(s[::-1])

ahjO kehsihbA

In [7]:
# Check if a string is a palindrome.
user=input("Enter the String = ")
check=user.lower()
check1=check[::-1]
print(check1==check)

Enter the String = Lol
True

In [9]:
 #. Convert a string to uppercase.
User_upper=input("Enter the String = ")
print(User_upper.upper())

Enter the String = bflasdflsgfg
BFLASDFLSGFG

In [11]:
# Convert a string to lowercase.
User_low=input("Enter the String = ")
print(User_low.lower())

Enter the String = A
a

In [14]:
# Count the number of vowels in a string. (a,e,i,o,u)
Check_vow=input("Enter the String = ")
check_v=Check_vow.lower()
print(check_v.count('a')+check_v.count('e')+check_v.count('i')+check_v.count('o')+check_v.count('u'))

Enter the String = aeiou
5

In [38]:
# Count the number of consonants in a string.
check_con=input("Enter the String = ")
check_c=check_con.lower()
con=0
for i in check_c:
    if(i != 'a'and i != 'e'and i != 'i'and i != 'o'and i != 'u'):
        con=con+1
print("Constant ",con)

Enter the String = qwe
Constant  2

In [43]:
#Remove all whitespaces from a string.
rem_white=input("Enter the strin=")
print(rem_white.replace(" ",""))

Enter the strin=a a a a
aaaa

In [41]:
# Find the length of a string without using the `len()` function.
f_len=input("Enter the String =")
sum=0
for i in f_len:
    sum=sum+1;
print("Length of the string is ",sum)

Enter the String =Abhishek
Length of the string is  9

In [ ]:
# Check if a string contains a specific word.
Str_con=input("Enter the String =")
Str_con.i

In [42]:
#Remove all whitespaces from a string.
rem_white=input("Enter the strin=")
print(rem_white.replace(" ",""))

Enter the strin=A a a a aa
Aaaaaa

In [48]:
# Check if a string contains a specific word.
spc_wd=input("Enter the String =")
ch=input("Enter the substring =")
if(ch in spc_wd):
    print("Yes")
else:
    print("NO")

Enter the String =Abhishek
Enter the substring =sh
Yes

In [49]:
# Replace a word in a string with another word.
rep_wd=input("Enter the String =")
old=input("Enter the replace word")
rpl=input("Enter the new word =")
print(rep_wd.replace(old,rpl))

Enter the String =I am Abhishek Ojha
Enter the replace wordAbhishek
Enter the new word =Harsh
I am Harsh Ojha

In [50]:
#Count the occurrences of a word in a string.
c_word=input("Enter the String =")
ch_word=input("Enther the check word =")
print(c_word.count(ch_word))

Enter the String =I am I am
Enther the check word =am
2

In [52]:
#Find the first occurrence of a word in a string.

f_o=input("Enter the word ")
ch_w=input("Enter the alpha =")
print(f_o.find(ch_w))

Enter the word abhishek
Enter the alpha =b
1

In [1]:
# Find the last occurrence of a word in a string.
l_o=input("Enter the String =")
c_0=input("Enter the Word =")
print(l_o.rfind(c_0))

Enter the String =Abhishek
Enter the Word =h
5

In [8]:
# Split a string into a list of words.
s_w=input("ENter the String =")
l=s_w.split()
print(l)

ENter the String =pdfs sdz
['pdfs', 'sdz']

In [16]:
# Join a list of words into a string.
l1=['My','name','Abhishek']
st=str(" ")
print(st.join(l1))

My name Abhishek

In [18]:
# Convert a string where words are separated by spaces to one where words are separated by underscores.
s_=input("ENter the String =")
print(s_.replace(" ","_"))

ENter the String =My Name is Abhishek
My_Name_is_Abhishek

In [20]:
#Convert a string where words are separated by spaces to one where wordsare separated by underscores.
s_1=input("ENter the String =")
print("_".join(s_1.split()))

ENter the String =My Name is abhishek
My_Name_is_abhishek

In [22]:
#Check if a string starts with a specific word or phrase.
c_s=input("ENter teh String = ")
s_p=input("ENter the specific and phrase = ")
print(c_s.startswith(s_p))

ENter teh String = =My name is Abhsihek
ENter the specific and phrase = =
True

In [25]:
#Check if a string ends with a specific word or phrase.
e_w=input("Enter the String = ")
c_p=input("Enter the word = ")
print(e_w.endswith(c_p))

Enter the String = Check if a string ends with a specific word or phrase
Enter the word = phrase
True

In [28]:
# Convert a string to title case (e.g., "hello world" to "Hello World").
Cap=input("ENte the String")
print(Cap.title())

ENte the Stringhello world
Hello World

In [59]:
# Find the longest word in a string.
lo=input("Enter the String = ")
l=list(lo.split())
l1=list()
for i in l:
    print(len(i))
    l1.append(len(i))
print(l[l1.index(max(l1))])

Enter the String = Find the longest word in a string.
4
3
7
4
2
1
7
longest

In [69]:
#Find the shortest word in a string.
s_w=input("ENter the String = ")
sl=list(s_w.split())
el=[]
for i in sl:
    el.append(len(i))
print(sl[el.index(min(el))])

ENter the String = Find the shortest word in a string.
a

In [80]:
# Reverse the order of words in a string.
r=input("Enter the string")
rl=list(r.split())
print(rl[::-1])

Enter the stringExtract all digits from a string.
['Extract all digits from a string.']

In [76]:
#Check if a string is alphanumeric.
al=input("Enter the String = ")
print(al.isalnum())

Enter the String = adws12
True

In [100]:
# Extract all digits from a string.
e=input("Enter the String")
le=list(e)
el=[]
for i in le:
    if (i.isalpha()):
        pass
    else:
        el.append(i)
print("".join(el))

Enter the Stringasdfghjkl1234578sdfghjk
1234578

In [107]:
# Extract all alphabets from a string.
ea=input("Enter the String")
al=list(ea)
ls=[]
for i in al:
    print(i)
    if i.isalpha():
        ls.append(i)
print("".join(ls))

Enter the Stringprint(i)
p
r
i
n
t
(
i
)
printi

In [112]:
#Count the number of uppercase letters in a string.
cp=input("ENter the String = ")
sum=0
for i in cp:
    if(i.isupper()):
        sum=sum+1
print(sum)

ENter the String = Abhishek Ojha
2

In [113]:
# Count the number of lowercase letters in a string.
cl=input("Enter the String = ")
lsum=0
for i in cl:
    if i.islower():
        lsum=lsum+1
print(lsum)

Enter the String = Abhishek
7

In [114]:
# Swap the case of each character in a string.
sw=input("Enter the String = ")
print(sw.swapcase())

Enter the String = Swap the case of each character in a string.
sWAP THE CASE OF EACH CHARACTER IN A STRING.

In [115]:
# Remove a specific word from a string.
rw=input("Enter the String = ")
r_w=input("Enter the remove word")
print(rw.replace(r_w,""))

Enter the String = My name is Abhishek
Enter the remove wordis
My name  Abhhek

In [140]:
# Check if a string is a valid email address.
em=input("Enter the email ")
sum,sum2=0,0
if(len(em))>=6:
    if("@" in em) and em.count("@")==1:
        if(em[0].isalpha()):
            if (em[-3]==".") ^ (em[-4]=="."):
                for i in em:
                    if(i.isalpha()):
                        sum=sum+1
                    elif (i.isnumeric()):
                        sum=sum+1
                    elif (i=="@" or i=="_" or i=="."):
                        sum=sum+1
                    else:
                        sum2=sum2+1
                        
            else:
                print("Check count of '.'")
        else:
            print("Wrong email start with alpha")
    else:
        print("Wrong Email @")
else:
    print("Wrong Email")
if sum!=0 and sum2==0:
    print("Valid")
else:
    print("Not Valid")

Enter the email @sdfghjhk.com
Wrong email start with alpha
Not Valid

In [148]:
#Extract the username from an email address string.
em=input("Enter the email ")
sum,sum2=0,0
if(len(em))>=6:
    if("@" in em) and em.count("@")==1:
        if(em[0].isalpha()):
            if (em[-3]==".") ^ (em[-4]=="."):
                for i in em:
                    if(i.isalpha()):
                        sum=sum+1
                    elif (i.isnumeric()):
                        sum=sum+1
                    elif (i=="@" or i=="_" or i=="."):
                        sum=sum+1
                    else:
                        sum2=sum2+1
                        
            else:
                print("Check count of '.'")
        else:
            print("Wrong email start with alpha")
    else:
        print("Wrong Email @")
else:
    print("Wrong Email")
if sum!=0 and sum2==0:
    fu=em.index("@")
    
else:
    print("Not Valid")
print(em[:fu])

Enter the email ojhaabhishek200098@gmail.com
ojhaabhishek200098

In [149]:
# Extract the domain name from an email address string.
em=input("Enter the email ")
sum,sum2=0,0
if(len(em))>=6:
    if("@" in em) and em.count("@")==1:
        if(em[0].isalpha()):
            if (em[-3]==".") ^ (em[-4]=="."):
                for i in em:
                    if(i.isalpha()):
                        sum=sum+1
                    elif (i.isnumeric()):
                        sum=sum+1
                    elif (i=="@" or i=="_" or i=="."):
                        sum=sum+1
                    else:
                        sum2=sum2+1
                        
            else:
                print("Check count of '.'")
        else:
            print("Wrong email start with alpha")
    else:
        print("Wrong Email @")
else:
    print("Wrong Email")
if sum!=0 and sum2==0:
    fu=em.index("@")
    
else:
    print("Not Valid")
print(em[(fu+1):])

Enter the email ojhaabhishek200098@gmail.com
gmail.com

In [152]:
# Replace multiple spaces in a string with a single space.
rs=input("Enter the String =")
lr=list(rs.split())
print(" ".join(lr))

Enter the String =my name is.     Abhishek
my name is. Abhishek

In [166]:
# Check if a string is a valid URL.
url=input("Enter the Url ")
if len(url)>=10:
    if(url[:7]=="http://" or url[:8]=="https://"):
        if(url[-3]=="." or url[-4]=="."):
            print("Valid")
        else:
            print('Not valid url')
    else:
        print("Wrong URL 2")
else:
    print("Wromg URl 1")

Enter the Url http://googleco.
Not valid url

In [171]:
# Extract the protocol (http or https) from a URL string.
url=input("Enter the Url ")
if len(url)>=10:
    if(url[:7]=="http://" or url[:8]=="https://"):
        if(url[-3]=="." or url[-4]=="."):
            if url[:5]=="https":
                print(url[:5])
            else:
                print(url[:4])
        else:
            print('Not valid url')
    else:
        print("Wrong URL 2")
else:
    print("Wromg URl 1")

Enter the Url http://stackoverflow.com
http

In [185]:
# Find the frequency of each character in a string.
c=input("Enter the string")
ec=c.lower()
sc=set(ec.replace(" ",""))
for i in sc:
    print(i," count is ",ec.count(i))

Enter the stringAbhishek Ojha
a  count is  2
k  count is  1
b  count is  1
i  count is  1
e  count is  1
o  count is  1
s  count is  1
j  count is  1
h  count is  3

In [209]:
# Remove all punctuation from a string.

s=input("Enter the String")
if "!" in s or "@" in s or "#" in s or "$" in s or ")" in s or "(" in s or ";" in s or ":" in s or "_" in s or "." in s or "," in s or "?" in s:
    print(s.replace("!","").replace("@","").replace("#","").replace("$","").replace(")","").replace("(","").replace("?","").replace(";","").replace("_","").replace(".","").replace(",","").replace(":",""))

Enter the String!@#$%^ASDFGHJ,.?
%^ASDFGHJ

In [213]:
# Check if a string contains only digits.
ol=input("Enter the String = ")
ol.isdigit()

Enter the String = asdfghj!@#$%1

False

In [222]:
# Check if a string contains only alphabets.
oa=input("Enter the String =")
o=str(oa)
o.isalpha()

Enter the String =dghjkl1234

False

In [223]:
# Convert a string to a list of characters.
lc=input("Enter the String = ")
li=list(lc)
li

Enter the String = Abhishek

['A', 'b', 'h', 'i', 's', 'h', 'e', 'k']

In [233]:
# Check if two strings are anagrams.
str1=input("Enter 1st the String = ")
str2=input("Enter 2nd the String = ")
st1=list(str1.lower())
st2=list(str2.lower())
if(st1.sort()==st2.sort()):
    print("It is Anagram")
else:
    print("Not Anagram")

Enter 1st the String = Ojha
Enter 2nd the String = jhao
It is Anagram
['a', 'h', 'j', 'o']
['a', 'h', 'j', 'o']

In [274]:
# Encode a string using a Caesar cipher.
en=input("ENter the String : ")
el=[]
ae=[]
key=int(input("Enter the cipher kwy"))
for i in en:
    el.append(ord(i)+key)
for j in el:
    ae.append((chr(j)))
print("".join(ae))

ENter the String : ab
Enter the cipher kwy2
cd

In [278]:
# Decode a Caesar cipher encoded string.
ds=input("Enter the cipher")
dkey=int(input("Enter the cipher key"))
dl=[]
de=[]
for i in ds:
    dl.append(ord(i)+(dkey))
for j in dl:
    de.append(chr(j))
print("".join(de))

Enter the ciphercd
Enter the cipher key-2
ab

In [297]:
# Find the most frequent word in a string.
mf=input("Enter the string =")
mf=mf.lower()
sl=list(set(mf.split()))
le=[]
for i in sl:
    le.append(mf.count(i))
print(sl[le.index(max(le))])

Enter the string =My my may
my

In [311]:
# Find all unique words in a string.
u=input("Enter the String")
u=u.lower()
lu=list(set(u.split()))
print(lu)
for i in lu:
    if(int(u.count(i))==1):
        print(i)

Enter the StringMy name my
['my', 'name']
name

In [317]:
# Count the number of syllables in a string.
sy=input("Enter the String")
sy=sy.lower()
lv=list(sy.split())
count=0
for i in lv:
    if "a" in i or "e" in i or "i" in i or "o" in i or "u" in i :
        count=count+1

print(count)

Enter the StringMy name is Abhishek
3

In [321]:
# Check if a string contains any special characters.
sc=input("Enter the string")
l="!@#$%^&*()_?><,./:';~`'"
sum=0
for i in sc:
    if(i in l):
        sum=+1
if sum==0:
    print("NO special character")
else:
    print("Yes special character")

Enter the string1hhohoewieoh@
Yes special character

In [330]:
# Remove the nth word from a string.
rm=input("Enter the string: ")
nt=int(input("nth number "))
li=list(rm.split())
li.pop(nt)
print(" ".join(li))

Enter the string: My name is Abhi
nth number 2
My name Abhi

In [334]:
#Insert a word at the nth position in a string.
i=input("Enter the String ")
n=int(input("Enter the position "))
w=input("Enter the word ")
ln=list(i.split())
ln.insert(n,w)
print(" ".join(ln))

Enter the String My name is Abhishke
Enter the position 3
Enter the word Abhi
My name is Abhi Abhishke

In [336]:
# Convert a CSV string to a list of lists.
cs=input("Enter the csv ")
ls=list(cs.split(","))
print(" ".join(ls))

Enter the csvMy,name,is,Abhishek
My name is Abhishek

 # List Based Practice Problem :

In [2]:
#1 .Create a list with integers from 1 to 10.
L=[1,2,3,4,5,6,7,8,9,10]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# 2.Find the length of a list without using the `len()` function.
l=[1,2,3,4,5,6,7,8,9,0]
count=0
for i in l:
    count+=1
count

10

In [4]:
# 3. Append an element to the end of a list.
li=[1,2,3,4,5,6,7,8,9]
li.append(10)
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
# 4. Insert an element at a specific index in a list.
lis=[1,2,3,4,5,7,8,9,10]
lis.insert(5,6)
print(lis)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
# 5.Remove an element from a list by its value.
rl=[1,2,3,4,5,6,7,8,9,10,11]
rl.remove(11)
print(rl)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
# 6. Remove an element from a list by its index.
rsl=[1,2,3,4,5,5,6,7,8,9,10]
rsl.pop(5)
print(rsl)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
# 7. Check if an element exists in a list.
e=1
l1=[1,2,3,4,5]
if(e in l1):
    print("Yes, its exits in list")
else:
    print("NO. its not exits")

Yes, its exits in list

In [23]:
# 8. Find the index of the first occurrence of an element in a list.
fl=[1,2,2,4,5,6]
f=2
print(fl.index(f))

1

In [25]:
# 9. Count the occurrences of an element in a list.
lis=[1,1,2,2,1,3,1,2,5]
s=set(lis)
for i in s:
    print(i," count is ",lis.count(i))

1  count is  4
2  count is  3
3  count is  1
5  count is  1

In [28]:
# 10. Reverse the order of elements in a list.
rl=[1,2,3,4,5,6,7,8,9]
rl.reverse()
print(rl)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [30]:
# 11. Sort a list in ascending order.
rl.sort()
print(rl)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
#12. Sort a list in descending order.
rl=["car","bike"]
rl.sort(reverse=True)
print(rl)

['car', 'bike']

In [51]:
# 13. Create a list of even numbers from 1 to 20.
el=[]
for i in range(2,21):
    if(i%2==0):
        el.append(i)
print(el)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [55]:
# 14. Create a list of odd numbers from 1 to 20.
ol=[]
for i in range(0,21):
    if(i%2==0):
        continue
    else:
        ol.append(i)
print(ol)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [67]:
# 15. Find the sum of all elements in a list.
l=int(input("Enter teh length of the list"))
sl=list()
for i in range(l):
    te=int(input("Enter the element"))
    sl.append(te)
print(sum(sl))

Enter teh length of the list3
Enter the element1
Enter the element2
Enter the element3
6

In [68]:
# 16. Find the maximum value in a list.
le=int(input("Ente the length of the list"))
el=[]
for i in range(le):
    tem=int(input("Enter the Number"))
    el.append(tem)
print(max(el))

Ente the length of the list5
Enter the Number1
Enter the Number3
Enter the Number5
Enter the Number6
Enter the Number7
7

In [69]:
# 17. Find the minimum value in a list.
ln=int(input("Ente the Length of the List"))
ml=[]
for i in range(ln):
    tem=int(input("Enter the Number"))
    ml.append(tem)
print(min(ml))

Ente the Length of the List4
Enter the Number1
Enter the Number2
Enter the Number3
Enter the Number0
0

In [70]:
# 18. Create a list of squares of numbers from 1 to 10.
sq=[]
for i in range(1,11):
    sq.append(i**2)
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [78]:
# 19. Create a list of random numbers.
import random
l=[]
for i in range(0,10):
    l.append(random.randint(1,100))
print(l)

[81, 81, 16, 19, 14, 59, 78, 48, 8, 99]

In [71]:
# 20. Remove duplicates from a list.
lt=int(input("Enter the Length of the list"))
dl=[]
for i in range(lt):
    tem=int(input("Enter the Number"))
    dl.append(tem)
print(set(dl))

Enter the Length of the list5
Enter the Number1
Enter the Number2
Enter the Number2
Enter the Number3
Enter the Number4
{1, 2, 3, 4}

In [74]:
# 21. Find the common elements between two lists.
l1=int(input("Enter the length of first lis"))
l2=int(input("Enter the length of 2nd lis"))
c=[]
c1=[]
co=[]
for i in range(l1):
    tem=input("Enter")
    c.append(tem)
for i in range(l2):
    tem1=input("Enter")
    c1.append(tem1)
for i in range(l1):
    if(c[i] in c1):
        co.append(c[i])
print(co)

Enter the length of first lis3
Enter the length of 2nd lis4
Enter1
Enter2
Enter3
Enter1
Enter2
Enter3
Enter4
['1', '2', '3']

In [123]:
# 22. Find the difference between two lists.
l1=int(input("Enter the length of first list"))
l2=int(input("Enter the length of 2nd list"))
c=[]
c1=[]
co=[]
for i in range(l1):
    tem=input("Enter")
    c.append(tem)
for i in range(l2):
    tem1=input("Enter")
    c1.append(tem1)
if l1>l2:
    print("l1")
    for i in range(l1):
        print(i)
        if(c[i] in c1):
            continue
        else:
            co.append(c[i])
    
else:
    print("l2")
    for i in range(l2):
        if(c1[i] in c):
            print("if")
            continue
        else: 
            co.append(c1[i])
print(co)

Enter the length of first list3
Enter the length of 2nd list4
Enter1
Enter2
Enter3
Enter4
Enter3
Enter2
Enter1
l2
if
if
if
['4']

In [128]:
#23. Merge two lists.
l1=[1,2,3,4,5,6]
l2=[7,8,9]
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [138]:
# 24. Multiply all elements in a list by 2.
l=[1,2,3,4,5,6,7,8,9,10]
for i in range(0,len(l)):
    l[i]=l[i]*2
l

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [145]:
# 25. Filter out all even numbers from a list.
l=[]
for i in range(10):
    l.append(random.randint(1,100))
print(l)
for i in range(10):
    if(l[i]%2==0):
        print(l[i])

[80, 30, 47, 22, 63, 73, 70, 80, 70, 9]
80
30
22
70
80
70

In [155]:
# 26. Convert a list of strings to a list of integers.
l=[1,2,3]
for i in range(0,len(l)):
    l[i]=int(l[i])
print(type(l[1]))

<class 'int'>

In [156]:
#27. Convert a list of integers to a list of strings.
l=[1,2,3]
for i in range(0,len(l)):
    l[i]=str(l[i])
print(type(l[1]))

<class 'str'>

In [202]:
# 28. Flatten a nested list.
l=[1,[2,3],[3,4,5],6]
f=[]
#print(type(f))
for i in range(0,len(l)):
    if type(l[i]) is list:
        #print(type(l[i]),"if")
        f.extend(l[i])
    else:
        #print(type(l[i]),"else")
        f.append(l[i])
print(f)
#print(type(l[0]) is list)

[1, 2, 3, 3, 4, 5, 6]

In [280]:
# 29. Create a list of the first 10 Fibonacci numbers
l=[]
n1,i=0,0
n2=1
while i<=10:
    l.append(n1)
    nth = n1 +n2
    n1 = n2
    n2 = nth
    i=i+1
l

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [266]:
# 30. Check if a list is sorted.
l=[1,4,3]
temp=l.copy()
l.sort()
if l==temp:
    print("Yes")
else:
    print("NO")

NO

In [3]:
# 31. Rotate a list to the left by `n` positions.
n = 2
l=[1,2,3,4,5]
l=l[n:]+l[:n]
l

[3, 4, 5, 1, 2]

In [16]:
# 32. Rotate a list to the right by `n` positions.
l=[1,2,3,4,5]
t=l.copy()
n=int(input("Enter the nth"))
l=l[-n:]+l[:n+1]
l[:len(t)]

Enter the nth4

[2, 3, 4, 5, 1, 2, 3, 4]

In [153]:
# 33. Create a list of prime numbers up to 50.
l=[]
for i in range(2,51):
    count=0
    for j in range(2,i):
        if(i%j==0):
            count=+1
    if count==0:
        l.append(i)
l

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [208]:
# 34. Split a list into chunks of size `n`. 
l=[1,2,3,44,5,6,7,8,9,10]
for i in range(0,len(l),2):
    print(l[i:i+2])

[1, 2]
[3, 44]
[5, 6]
[7, 8]
[9, 10]

In [251]:
# 35. Find the second largest number in a list.
l=[1,2,3,8,5,9,5]
l.sort()
print(l[-2])

8

In [255]:
# 36. Replace every element in a list with its square.
l=[1,2,3,4,5,6,7,8,9,10]
for i in range(len(l)):
    l[i]=l[i]**2
l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [307]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values.
l=[1,2,3,4,5]
for i in l:
    d.update({i:l.index(i)})
d

{5: 4, 1: 0, 2: 1, 3: 2, 4: 3}

In [304]:
# 38. Shuffle the elements of a list randomly.

l=[1,2,3,4,5]
random.shuffle(l)
l

[5, 4, 2, 3, 1]

In [302]:
# 39. Create a list of the first 10 factorial numbers.

l=[]
for i in range(1,11):
    fab=1
    for j in range(1,i+1):
        fab=fab*j
    l.append(fab)
l

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [262]:
# 40. Check if two lists have at least one element in common.
l=[1,2,3,4,5,6,7,8]
l2=[0,0,'a','e',8]
count=0
for i in l2:
    if i in l:
        count=+1
if count==0:
    print("NO common element")
else:
    print("Yes common element")

Yes common element

In [239]:
#41. Remove all elements from a list.
l=[1,2,3,4]
l.clear()
print(l)

[]

In [299]:
# 42. Replace negative numbers in a list with 0.
l=[1,-1,2,-3,0]
for i in l:
    if i<=0:
        l[l.index(i)]=0
l

[1, 0, 2, 0, 0]

In [298]:
# 43. Convert a string into a list of words.
s="My name is Abhishek Ojha"
l=list(s.split())
l

['My', 'name', 'is', 'Abhishek', 'Ojha']

In [288]:
# 44. Convert a list of words into a string.
l=["az",'ab','a','cba']
print(" ".join(l))

az ab a cba

In [297]:
# 45. Create a list of the first `n` powers of 2.
n=int(input("Enter the nth nuber"))
l=[]
for i in range(1,n+1):
    l.append(i**2)
print(l)

Enter the nth nuber5
[1, 4, 9, 16, 25]

In [283]:
# 46. Find the longest string in a list of strings.
l=["az",'ab','a','cba']
l.sort(reverse=True)
print(l[0])

cba

In [281]:
#47. Find the shortest string in a list of strings.
l=["az",'ab','a','cba']
l.sort(reverse=True)
print(l[-1])

a

In [295]:
# 48. Create a list of the first `n` triangular numbers.
n=int(input("Enter the nth nuber"))
l=[]
sum=0
for i in range(1,n+1):
    sum=sum+i
    l.append(sum)
print(l)

Enter the nth nuber5
[1, 3, 6, 10, 15]

In [292]:
# 49. Check if a list contains another list as a subsequence.
l=[1,[1,2],3]
count=0
for i in range(len(l)):
    if type(l[i]) is list:
        count=+1
if count==0:
    print("NO list")
else:
    print("Yes it contain list")

NO lis

In [290]:
# 50. Swap two elements in a list by their indices.
l=[1,2,3,4,5]
l[0]=l[0]+l[1]
l[1]=l[0]-l[1]
l[0]=l[0]-l[1]
print(l)

[2, 1, 3, 4, 5]

#  Tuple Based Practice Problem :

In [103]:
# 1. Create a tuple with integers from 1 to 5.
t=(1,2,3,4,5)
print(type(t))
print(t)

<class 'tuple'>
(1, 2, 3, 4, 5)

In [105]:
# 2. Access the third element of a tuple.
t=(1,2,3,4,5)
print(list(t)[2])

3

In [106]:
# 3. Find the length of a tuple without using the `len()` function.
t=(1,2,3,4,5)
count=0
for i in t:
    count=count+1
count

5

In [116]:
#4. Count the occurrences of an element in a tuple.
t=(1,2,3,4,5,6,7,8,9,22,1,3,4,56)
co=int(input("Enter the element"))
print(t.count(co))

Enter the element3
2

In [122]:
#5. Find the index of the first occurrence of an element in a tuple.
t=(1,2,3,4,5,6,7,8,9,22,1,3,4,56)
co=int(input("Enter the element"))
print(t.index(co))

Enter the element3
2

In [113]:
# 6. Check if an element exists in a tuple.
t=(1,2,3,4,5)
c=int(input("Entere the check element"))
if c in t:
    print("Yes")
else:
    print("No")

Entere the check element2
Yes

In [112]:
# 7. Convert a tuple to a list.
t=(1,2,3,4,5)
l=list(t)
print(type(l))
l

<class 'list'>

[1, 2, 3, 4, 5]

In [114]:
#8. Convert a list to a tuple.
l=[1,2,3,4,5]
t=tuple(l)
print(type(t))
print(t)

<class 'tuple'>
(1, 2, 3, 4, 5)

In [132]:
#9. Unpack the elements of a tuple into variables.
t=("Abhishke","20","BCA")
# In right hand side is packing and left hand side is unpacking
(Name,age,Course)=t
print(Name)
print(age)
print(Course)

# Another way do that
t=[1,2,3,4,5,6,7,8,9]
# that means a and c hold only 1 elemt but *b are hold all left element in tuple
(a,*b,c)=t
print(a)
print(b)
print(c)

Abhishke
20
BCA
1
[2, 3, 4, 5, 6, 7, 8]
9

In [127]:
# 10. Create a tuple of even numbers from 1 to 10.
l=[]
for i in range(2,11):
    if(i%2==0):
        l.append(i)
print(tuple(l))

(2, 4, 6, 8, 10)

In [128]:
#11. Create a tuple of odd numbers from 1 to 10.
l=[]
for i in range(1,11):
    if(i%2!=0):
        l.append(i)
print(tuple(l))

(1, 3, 5, 7, 9)

In [158]:
#12. Concatenate two tuples.
t=(1,2,3)
t2=(4,5)
print(t+t2)

(1, 2, 3, 4, 5)

In [159]:
# 13. Repeat a tuple three times.
t=(1,2,3,4,5)
print(t*3)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [169]:
#14. Check if a tuple is empty.
t=(1,2)
print(type(t))
if len(t)==0:
    print("Empty")
else:
    print("Not Empty")

<class 'str'>
Not Empty

In [171]:
# 15. Create a nested tuple.
t=(1,2,(3,4))
print(t)
print(type(t))

(1, 2, (3, 4))
<class 'tuple'>

In [178]:
#16. Access the first element of a nested tuple.
t=[1,2,[3,4],5]
l=list(t)
print(l[2][1])

4

In [175]:
#17. Create a tuple with a single element.
t=tuple('1')
print(type(t))

<class 'tuple'>

In [177]:
#18. Compare two tuples.
t=[1,2,3,4,5]
t1=[1,2,3,4,5]
if t==t1:
    print("Equal")
else:
    print("Not Equal")

Equal

In [182]:
#19. Delete a tuple.
t=(1,2,3,4,5)
del t
print(t)

NameError: name 't' is not defined

In [184]:
#20. Slice a tuple.
t=(1,2,3,4,5)
for i in range(len(t)):
    print(t[i])

1
2
3
4
5

In [185]:
#21. Find the maximum value in a tuple.
t=(1,2,3,4,5)
print(max(t))

5

In [186]:
#22. Find the minimum value in a tuple.
t=(1,2,3,4,5)
print(min(t))

1

In [194]:
#23. Convert a string to a tuple of characters.
str="My name is Abhishek Ojha"
t=tuple(str)
print(type(t))
print(t)

<class 'tuple'>
('M', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'A', 'b', 'h', 'i', 's', 'h', 'e', 'k', ' ', 'O', 'j', 'h', 'a')

In [228]:
#24. Convert a tuple of characters to a string.
st="My name is Abhishek Ojha"
t=tuple(st)
print("".join(t))

My name is Abhishek Ojha

In [199]:
#25. Create a tuple from multiple data types.
l=[1,2,3]
s="Abhsihke"
t=tuple(l)
t1=tuple(s)
print(type(t))
print(type(t1))

<class 'tuple'>
<class 'tuple'>

In [202]:
#26. Check if two tuples are identical.
t=(1,2,3,4,5)
t1=(1,2,3,4,5)
t3=(1,2,3,5,4)
if t1==t:
    print("t and t1 is identical")
else:
    print("t and t1 are not identical")
if t==t3:
    print("t and t3 are identical")
else:
    print("t and t3 are not identical")

t and t1 is identical
t and t3 are not identical

In [201]:
#27. Sort the elements of a tuple.
t=(1,2,3,4,5,1,2,3)
l=list(t)
l.sort()
t1=l
print(t1)

[1, 1, 2, 2, 3, 3, 4, 5]

In [232]:
#28. Convert a tuple of integers to a tuple of strings.
a = ( "aty",3,"bob",5,6)
a=tuple(map( str, a ) )
print(a)

In [233]:
#29. Convert a tuple of strings to a tuple of integers.
a=('1','2')
a=tuple(map(int,a))
print(a)

(1, 2)

In [203]:
#30. Merge two tuples.
t=(1,2,3)
t1=(4,5)
t2=t+t1
print(t2)

(1, 2, 3, 4, 5)

In [242]:
#31. Flatten a nested tuple.
t=(1,2,(3,4),5)
l=list(t)
l1=[]
for i in range(len(t)):
    if type(l[i])== tuple:
        l1.extend(l[i])
    else:
        l1.append(l[i])
print(l1)

[1, 2, 3, 4, 5]

In [247]:
#32. Create a tuple of the first 5 prime numbers.
l=[]
for i in range(2,6):
    count=0
    for j in range(2,i):
        if i%j==0:
            count=+1
    if count==0:
        l.append(i)
t=tuple(l)
print(t)

(2, 3, 5)

In [258]:
#33. Check if a tuple is a palindrome.
t=(1,2,1)
l=list(t)
l.reverse()
t1=tuple(l)
print(t1==t)

True

In [262]:
#34. Create a tuple of squares of numbers from 1 to 5.
tup = ()
for i in range(1,6):
    tup = tup + (i**2,)
# In concatinate function only same data type conacte
print(tup)

(1, 4, 9, 16, 25)

In [265]:
#35. Filter out all even numbers from a tuple.
t=(1,2,3,4,5)
l=list(t)
l1=[]
for i in l:
    if(i%2==0):
        l1.append(i)
l1

[2, 4]

In [266]:
#36. Multiply all elements in a tuple by 2.
t=[1,2,3]
l=list(t)
l1=[]
for i in l:
    l1.append(i*2)
t1=tuple(l1)
t1

(2, 4, 6)

In [272]:
#37. Create a tuple of random numbers.
import random
t=()
n=int(input("How many number in the tuple"))
for i in range(n):
    t=t+(random.randint(1,100),)
print(t)

How many number in the tuple5
(7, 62, 82, 90, 19)

In [277]:
#38. Check if a tuple is sorted.
t=(1,2,3,4,5,1)
l=list(t)
l.sort()
t1=tuple(l)
if(t==t1):
    print("Yes, sorted")
else:
    print("No sorted")

No sorted

In [17]:
#39. Rotate a tuple to the left by `n` positions.
n=int(input("Enter the nth"))
t=(1,2,3,4,5)
t=t[n:]+t[:n]
t

Enter the nth2

(3, 4, 5, 1, 2)

In [20]:
#40. Rotate a tuple to the right by `n` positions.
n=int(input("Enter the nth"))
t=(1,2,3,4,5)
t=t[-n:]+t[:n+1]
t

Enter the nth2

(4, 5, 1, 2, 3)

In [284]:
#41. Create a tuple of the first 5 Fibonacci numbers.
t=()
n=0
n1=1
i=0
while i<=5:
    t=t+(n,)
    nth=n+n1
    n=n1
    n1=nth
    i=i+1
t

(0, 1, 1, 2, 3, 5)

In [286]:
#42. Create a tuple from user input.
t=()
n=int(input("Enter the len of the tuple"))
for i in range(n):
    temp=input("Enter the element ")
    t=t+(temp,)
t

Enter the len of the tuple5
Enter the element 1
Enter the element 2
Enter the element 3
Enter the element 4
Enter the element 5

('1', '2', '3', '4', '5')

In [306]:
#43. Swap two elements in a tuple.
t=(1,2,3,4,5)
l=list(t)
l[0],l[1]=l[1],l[0]
t1=tuple(l)
t1

(2, 1, 3, 4, 5)

In [294]:
#44. Reverse the elements of a tuple.
t=(1,2,3,4,5)
l=list(t)
l.reverse()
t=tuple(l)
t

(5, 4, 3, 2, 1)

In [295]:
#45. Create a tuple of the first `n` powers of 2.
t=()
n=int(input("Enter the number"))
for i in range(1,n+1):
    t=t+(i**2,)
t

Enter the number5

(1, 4, 9, 16, 25)

In [289]:
#46. Find the longest string in a tuple of strings.
t=('a','aaa','aa')
print(max(t))

aaa

In [291]:
#47. Find the shortest string in a tuple of strings.
t=('a','aaa','aa')
print(min(t))

a

In [297]:
#48. Create a tuple of the first `n` triangular numbers.
sum=0
t=()
n=int(input("Ente the number "))
for i in range(1,n+1):
    sum=sum+i
    t=t+(sum,)
t

Ente the number 5

(1, 3, 6, 10, 15)

In [301]:
#49. Check if a tuple contains another tuple as a subsequence.
t=(1,(2,3),4)
l=list(t)
count=0
for i in range(len(l)):
    if type(l[i])==tuple:
        count=+1
if count==0:
    print("Not tuple in tuple")
else:
    print("Yes, tuple in tuple")

Yes, tuple in tuple

In [305]:
#50. Create a tuple of alternating 1s and 0s of length `n`.
t=()
n=int(input("Enter the number"))
for i in range(1,n+1):
    if(i%2==0):
        t=t+(0,)
    else:
        t=t+(1,)
t

Enter the number6

(1, 0, 1, 0, 1, 0)

# Set Based Practice Problem :

In [307]:
#1. Create a set with integers from 1 to 5.
s={1,2,3,4,5}
print(s)
print(type(s))

{1, 2, 3, 4, 5}
<class 'set'>

In [308]:
#2. Add an element to a set.
s={1,2,3,4,5}
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

In [309]:
#3. Remove an element from a set.
s={1,2,3,4,5,6}
s.remove(6)
print(s)

{1, 2, 3, 4, 5}

In [315]:
#4. Check if an element exists in a set.
s={1,2,3,4,5}
ch=int(input("Enther the check element "))
if ch in s:
    print("Yes")
else:
    print("No")

Enther the check element 4
Yes

In [325]:
#5. Find the length of a set without using the `len()` function.
s={1,2,3,4,5,6,7,8,9,10}
count1=0
for i in s:
    count1=count1+1
print(count1)

10

In [323]:

#6. Clear all elements from a set.
s={1,2,3,4,5}
s.clear()
print(s)

set()

In [2]:
#7. Create a set of even numbers from 1 to 10.
s=set()
for i in range(1,11):
    if(i%2==0):
        s.add(i)
s

{2, 4, 6, 8, 10}

In [3]:
#8. Create a set of odd numbers from 1 to 10.
s=set()
for i in range(1,11):
    if(i%2!=0):
        s.add(i)
s

{1, 3, 5, 7, 9}

In [4]:
#9. Find the union of two sets.
s={1,2,3,4,5}
s1={6,7,8,9,1}
print(s.union(s1))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [5]:
#10. Find the intersection of two sets.
s={1,2,3,4,5}
s1={6,7,8,9,1}
print(s.intersection(s1))

{1}

In [6]:
#11. Find the difference between two sets.
s={1,2,3,4,5}
s1={6,7,8,9,1}
print(s.difference(s1))

{2, 3, 4, 5}

In [8]:
#12. Check if a set is a subset of another set.
s={1,2,3,4,5}
s1={2,1}
print(s1.issubset(s))

True

In [11]:
#13. Check if a set is a superset of another set.
s={1,2,3,4,5}
s1={2,1}
print(s.issuperset(s1))

True

In [12]:
#14. Create a set from a list.
l=[1,2,3,4,5]
s=set(l)
print(type(s))
print(s)

<class 'set'>
{1, 2, 3, 4, 5}

In [14]:
#15. Convert a set to a list.
s={1,2,3,4,5,6}
l=list(s)
print(l)

[1, 2, 3, 4, 5, 6]

In [33]:
#16. Remove a random element from a set.
import random as rn
s={1,2,3,4,5,6,7,8,9,0}
r=int(rn.randrange(9))
s.remove(r)
print(s)

{0, 1, 3, 4, 5, 6, 7, 8, 9}

In [27]:
#17. Pop an element from a set.
s={1,2,3,4,5,6,7,8,9,0}
s.pop()
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [35]:
#18. Check if two sets have no elements in common.
s={1,2,3,4,5,}
s1={6,7,8,9,1}
if len(s.intersection(s1))==0:
    print("No Common")
else:
    print("Common")

No Common

In [39]:
#19. Find the symmetric difference between two sets.
s={1,2,3,4,5,6}
s1={6,7,8,9,1}
print(s1.symmetric_difference(s))
print(s1.symmetric_difference(s))

{2, 3, 4, 5, 7, 8, 9}
{2, 3, 4, 5, 7, 8, 9}

In [198]:
#20. Update a set with elements from another set.
s={1,2,3,4,5,6}
s1={6,7,2,3,5,8,9,1}
print(s.symmetric_difference_update(s1))
s

None

{4, 7, 8, 9}

In [195]:
#21. Create a set of the first 5 prime numbers.
s=set()
l=[]
count=0
for i in range(1,50):
    count=0
    for j in range(1,i):
        if(i%j==0):
            count=count+1
    if count==1:
        l.append(i)
for i in range(5):
    s.add(l[i])
s

{2, 3, 5, 7, 11}

In [186]:
#22. Check if two sets are identical.
s={1,2,3,4}
s1={1,3,5,7}
s2={4,3,2,1}
print(s==s1)
print(s==s2)

False
True

In [184]:
#23. Create a frozen set.
f=frozenset([1,2])
print(f)

frozenset({1, 2})

In [182]:
#24. Check if a set is disjoint with another set.
s={1,2,3,4,5}
s1={6,7}
print(s.isdisjoint(s1))

True

In [179]:
#25. Create a set of squares of numbers from 1 to 5.
s=set()
for i in range(1,6):
    s.add(i**2)
s

{1, 4, 9, 16, 25}

In [177]:
#26. Filter out all even numbers from a set.
s={1,2,3,4,5,6,7,8,9,10}
l=list(s)
for i in l:
    if i%2==0:
        print(i)

2
4
6
8
10

In [175]:
#27. Multiply all elements in a set by 2.
s={1,2,3,4,5}
l=[]
for i in range(1,len(s)):
    l.append(i*2)

s=set(l)
s

{2, 4, 6, 8}

In [169]:
#28. Create a set of random numbers.
import random
s=set()
n=int(input("Enter the size of set"))
for i in range(n):
    s.add(random.randint(1,100))
s

Enter the size of set5

{38, 48, 65, 78, 86}

In [144]:
#29. Check if a set is empty.
s={1,2,3,4,5}
if len(s)==0:
    print("Empty")
else:
    print(" NO Empty")

 NO Empty

In [160]:
#30. Create a nested set (hint: use frozenset).
s=set()
s1={1,2,3}
s2={4,5,6}
s.add(frozenset([1,2]))
s.add(frozenset([3,4]))
s.add(frozenset([5,2]))
s

{frozenset({3, 4}), frozenset({2, 5}), frozenset({1, 2})}

In [143]:
#31. Remove an element from a set using the discard method.
s={1,2,3,4,5}
s.discard(3)
print(s)

{1, 2, 4, 5}

In [140]:
#32. Compare two sets.
s={1,2,3,4,5}
s1={1,2,3,4,5}
s==s1

True

In [139]:
#33. Create a set from a string.
s="My name is Abhishek"
se=set(s)
print(se)

{'A', 'i', 'y', 'M', 'h', 's', 'k', 'm', 'b', 'e', 'a', ' ', 'n'}

In [138]:
#34. Convert a set of strings to a set of integers.
s={'1','2'}
te=set(map(int,s))
print(te)

{1, 2}

In [137]:
#35. Convert a set of integers to a set of strings.
s={1,2,3,4,5}
ts=set(map(str,s))
print(ts)

{'1', '2', '3', '4', '5'}

In [126]:
#36. Create a set from a tuple.
t=(1,2,3,4,5)
s=set(t)
print(s)
print(type(t))
print(type(s))

{1, 2, 3, 4, 5}
<class 'tuple'>
<class 'set'>

In [122]:
#37. Convert a set to a tuple.
s={1,2,3,4,5}
t=tuple(s)
print(t)
print(type(t))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [120]:
#38. Find the maximum value in a set.
s={1,2,3,4,5}
print(max(s))

5

In [121]:
#39. Find the minimum value in a set.
s={1,2,3,4,5}
print(min(s))

1

In [119]:
#40. Create a set from user input.
s=set(input("Enter the set"))
print(s)

Enter the set12345
{'1', '2', '3', '4', '5'}

In [118]:
#41. Check if the intersection of two sets is empty.
s={1,2,3,4,5}
s1={6,7}
if(len(s.intersection(s1))==0):
    print("Yes")
else:
    print("NO")

Yes

In [111]:
#42. Create a set of the first 5 Fibonacci numbers.
s=set()
n,i=0,0
n1=1
while i<=5:
    nth=n+n1
    s.add(nth)
    n=n1
    n1=nth
    i+=1
s

{1, 2, 3, 5, 8, 13}

In [100]:
#43. Remove duplicates from a list using sets.
l=[1,2,3,4,5,4,3,2,1]
print(set(l))

{1, 2, 3, 4, 5}

In [99]:
#44. Check if two sets have the same elements, regardless of their count.
s={1,2,3,4,5}
s1={6,7,8,4,3,2,9,1}
l=list(s.intersection(s1))
print(len(l))

4

In [96]:
#45. Create a set of the first `n` powers of 2.
s=set()
n=int(input("Enter the number of set"))
for i in range(1,n+1):
    s.add(i**2)
s

Enter the number of set10

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [95]:
#46. Find the common elements between a set and a list.
s={1,2,3,4,5}
s1={6,7,8,9,1}
print(s.intersection(s1))

{1}

In [88]:
#47. Create a set of the first `n` triangular numbers.
s=set()
n=int(input("Enter the number of set"))
sum=0
for i in range(n):
    sum=sum+i
    s.add(sum)
print(s)

Enter the number of set5
{0, 1, 3, 6, 10}

In [94]:
#48. Check if a set contains another set as a subset.
s={1,2,3}
s1={4,5}
se=set([s,s1])
print(se)

TypeError: unhashable type: 'list'

In [84]:
#49. Create a set of alternating 1s and 0s of length `n`.
s=set()
n=int(input("Enter the number of set"))
for i in range(1,n+1):
    if(i%2==0):
        s.add(1)
    else:
        s.add(0)
print(s)

Enter the number of set4
{0, 1}

In [54]:
#50. Merge multiple sets into one.
n=int(input("Enter the number of set"))
s=set()
l=[]
for i in range(n):
    l.append("a"+str(i))
    l[i]=set(input("Enter the  set"))
    s=s.union(l[i])
print(s)

Enter the number of set2
Enter the  set12
Enter the  set23
{'1', '3', '2'}

# i=1
print("ss"+str(i))